<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    
    <title>Wiki</title>
  </head>
  <body>
      <!-- This will be floated right on the top bar -->
      <% if is_user? %>
          <p>Hello, <%= @user[:fullname] %>.
          <strong><a href="/logout">Log out</a></strong></p>
      <% else %>
          <p>Hello, Stranger.
          <strong><a href="/login">Log in</a></strong></p>
      <% end %>
      
    <%= yield %>
    
    <div class="debug">
        <a href="/">Home</a> | <a href="/test/">Test page</a>
        <ul>
            <li>
                <h4>User</h4>
                <ul>
                <% if @user.nil? %>
                    <li><code>nil</code></li>
                <% else %>
                    <% @user.each do |key, value| %>
                        <li>
                            <code><strong><%= key %></strong>: <%= value %></code>
                        </li>
                    <% end %>
                <% end %>
                </ul>
            </li>
            <li>
                <h4>Environment</h4>
                <ul>
                    <li><code><%= Wiki::App.environment %></code></li>
                </ul>
            </li>
            <li>
                <h4>Params</h4>
                <ul>
                    <li><code><%= params.inspect %></code></li>
                </ul>
            </li>
            <li>
                <h4>Environment Variables</h4>
                <ul>
                    <% env.each do |key, value| %>
                        <li><code><strong><%= key %></strong>: <%= value %></code></li>
                    <% end %>
                </ul>
            </li>
        </ul>
    </div>
  </body>
</html>